




body,html{
    margin: 0;
    padding: 0;
}

body{
    background-color: darksalmon;
}

#field{
    background-color: gray;
    position: relative;
    height: 330px;
    width: 330px;
    border-radius: 5%;
    margin: 1rem auto;
    box-shadow: 0 0 10px yellow;
    animation: colors 1s infinite linear;
}

.anim-colors{
    animation: colors 0.5s infinite linear;
}

@keyframes colors{
    0% {box-shadow: 0 0 10px yellow}
    25% {box-shadow: 0 0 20px yellowgreen}
    50% {box-shadow: 0 0 40px yellow}
    75% {box-shadow: 0 0 20px yellowgreen}
    100% {box-shadow: 0 0 10px yellow}
}

#main>h1{
    color: rgb(102, 100, 237);
    font-size: 6rem;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    letter-spacing: 0.3rem;
    margin: 1rem;
}

#main{
    position: relative;
    background-color: darksalmon;
    margin: 10px auto;
    /* border: 1px solid aqua; */
    font-family: 'Fredoka One', cursive;
    max-width: 350px;
}

#wrapper{
    position: relative;
    text-align: center;
}

#start{
    background-color: lightblue;
    color: rgb(102, 100, 237);
    position: relative;
    width: 185px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    border: 2px outset #e68362;
    border-radius: 10%/20%;
    cursor: pointer;
    user-select: none;
    margin: 10px auto;
}

#start:active{
    border: 2px inset #e68362;
    padding: 2px;
}

#labelScore{
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    user-select: none;
    cursor: default;
}

#labelRecord{
    position: relative;
    font-size: 1rem;
    font-weight: 400;
    user-select: none;
    cursor: default;
}

#record{
    position: relative;
    font-size: 1.1rem;
    font-weight: 400;
    user-select: none;
    cursor: default;
}

#score{
    position: relative;
    font-size: 1.1rem;
    font-weight: 400;
    user-select: none;
    cursor: default;
}

#sett{
    position: relative;
    border-radius: 50%;
    border-style: inset;
    border-color: #e68362;
    margin: 10px 4px;
}

#audioRange{
    background-color: red;
}

#rules{
    border: 3px inset #e68362;
    position: relative;
    margin: 10px 4px;
    border-radius: 15%/35%;
}

#rules p{
    padding: 10px;
    margin: 0;
    text-align: center;
}

.tokenShadow{
    background-color: rgb(92, 117, 118);
    color: black;
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 10%;
    z-index: 1;
}

.token{
    background-color: #27d4ba;
    color: black;
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 10%;
    text-align: center;
    line-height: 70px;
    font-weight: 400;
    font-size: 3.2rem;
    z-index: 1;
    transform: rotateY(0);
    transition-property: transform, background-color, font-size;
    transition-duration: 300ms;
}

#placeOrient{
    position: absolute;
    z-index: 5;
}

#t11{
    top: 10px;
    left: 10px;
}

#t21{
    top: 10px;
    left: 90px;
}

#t31{
    top: 10px;
    left: 170px;
}

#t41{
    top: 10px;
    left: 250px;
}



#t12{
    top: 90px;
    left: 10px;
}

#t22{
    top: 90px;
    left: 90px;
}

#t32{
    top: 90px;
    left: 170px;
}

#t42{
    top: 90px;
    left: 250px;
}



#t13{
    top: 170px;
    left: 10px;
}

#t23{
    top: 170px;
    left: 90px;
}

#t33{
    top: 170px;
    left: 170px;
}

#t43{
    top: 170px;
    left: 250px;
}



#t14{
    top: 250px;
    left: 10px;
}

#t24{
    top: 250px;
    left: 90px;
}

#t34{
    top: 250px;
    left: 170px;
}

#t44{
    top: 250px;
    left: 250px;
}


.gentoken{
    animation-name: scales;
    animation-duration: 300ms;
}

@keyframes scales{
    0%{transform:scale(0);}
    10%{transform:scale(0.2);}
    20%{transform:scale(0.4);}
    30%{transform:scale(0.6);}
    40%{transform:scale(0.8);}
    50%{transform:scale(1);}
    60%{transform:scale(1.2);}
    70%{transform:scale(1.4);}
    75%{transform:scale(1.5);}
    80%{transform:scale(1.4);}
    90%{transform:scale(1.2);}
    100%{transform:scale(1);}
}

.animtoken{
    transform: rotateY(360deg);
}

.popUpFinalWindow{
    position: absolute;
    height: 330px;
    width: 330px;
    background-color: dimgray;
    opacity: 0;
    z-index: 100;
    transition-property: opacity;
    transition-duration: 1s;
    border-radius: 5%;
    text-align: center;
    color: white;
    font-size: 2rem;
    user-select: none;
    cursor: default;
}





















